# Node
node_modules/
dist/
build/
.env
.env.*
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Files to ignore
frontend/dist.zip
dist.zip
*.dm
*.dm.txt
baselineProfiles/

# Editor
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
