# SERVER CONFIG
PORT=4000
NODE_ENV=production
BACKEND_URL=https://bcb-global.com
FRONTEND_URL=https://bcb-global.com

# AUTH
# Generar claves seguras con: openssl rand -base64 32
JWT_SECRET=14738941lp
JWT_REFRESH_SECRET=14738941lp

# DATABASE (MySQL)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=14738941lp
MYSQL_DATABASE=bcb_global

# REDIS (Requerido para Idempotencia, Locks y Rate Limiting)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=14738941lp

# TELEGRAM BOTS
TELEGRAM_BOT_TOKEN_ADMIN=8623798166:AAGAXOVDoCJrxifr6PfGkDisKjKgzkiPKbU
TELEGRAM_BOT_TOKEN_RETIROS=8796814933:AAGhO-U-A6nAImjpVYK-UQUArjN3WDQkVNc
TELEGRAM_BOT_TOKEN_SECRETARIA=8252503149:AAHzPFtyO1QSpQ3VwObQ8gr1oEbXA21YkxM

TELEGRAM_CHAT_ADMIN=-1003960230607
TELEGRAM_CHAT_RETIROS=-1003904814691
TELEGRAM_CHAT_SECRETARIA=-1003900884989
TELEGRAM_WEBHOOK_SECRET=14738941lp

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=root
CLOUDINARY_API_KEY=176273222427588
CLOUDINARY_API_SECRET=SRV87Lwr4YJ3AN-BBCIdAmW6qSk

# LOGGING
LOG_LEVEL=info

